<?xml version="1.0" encoding="UTF-8" ?>
<!-- 0810 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.restful.mapper.PizzaMapper">
   
   <select  id="getAll" resultType="com.ezen.restful.dto.Pizza">
   		select * from pizza
   </select>
  
  <insert id="add" >
  		insert into pizza (id, name, price, calrories) values (pizza_id_seq.nextval, #{name}, #{price}, #{calrories})
  </insert>
  
  <select id="getIdByName" resultType="int">
  		select id from pizza where name = #{name}
  </select>
  
  <select id="getPizza" resultType="com.ezen.restful.dto.Pizza">
  		select * from pizza where id = #{id}
  </select>
	
  <update id="update">
  	update pizza SET name = #{name},  price = #{price}, calrories = #{calrories} WHERE id = #{id}
  </update>
  
 
</mapper>